.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:24px;

}

mat-card{

    padding:10px;

}

.card-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

mat-icon{

    font-size:42px;

    width:42px;

    height:42px;

    color:#3f51b5;

}